{% extends "base.html" %}
{% block content %}

<!-- ---------------------------------------------------------------------------------------------------------------------------- -->

<div class="p-5 mt-4" style="background-color:#e6fff2;">
    <div class="container p-4">
        <button class="btn btn-outline-info mb-4" onclick="location.href='/'"><i class="fas fa-angle-left"></i> Home</button>
        <h3 class="mb-2">About Us</h3>
        <p class="text-justify mt-4">We are a small group of people who got affected by our surroundings and decided to come together to help out the misfortunate with anything we could get. With your GENEROSITY we are able to reach alot of young people that we come across who are in need of our help.It would be very selfish of us not to shed light on things that happen to people around us and around the world.</p>
    </div>
</div>



<!-- ---------------------------------------------------------------------------------------------------------------------------- -->

{% endblock %}