{% extends "base.html" %}
{% block content %}

<!-- ---------------------------------------------------------------------------------------------------------------------------- -->

<div class="p-5 mt-4" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="container p-4">
        <button class="btn btn-outline-info mb-4" onclick="location.href='/'"><i class="fas fa-angle-left"></i> Home</button>
        <h3 class="mb-2">What We Do</h3>
        <p class="text-justify mt-4">We are collecting donations from different location. Donations of any kind excluding food products will be accepted, be it feminine hygiene products, clothing, school stationery, toys or cash donations.</p>
        <p>VERY IMPORTANT: ALL CASH DONATIONS ARE SAFELY HANDLED AND DEPOSITED INTO THE CHARITY BANK WHICH MEANS THEY'RE SECURED FROM THE MOMENT THEY'RE SENT. WE DON'T GIVE DIRECT CASH FUNDS TO THE YOUTH BUT IT IS USED TO BUY ALL BASIC NECESSITIES FOR THEM e.g. School stationery, sanitary pads, fresh food and etc.</p>

    </div>
</div>



<!-- ---------------------------------------------------------------------------------------------------------------------------- -->

{% endblock %}